# Alter rows and columns,missing data and string operations

In [1]:
import pandas as pd

In [9]:
#amazon fire dataset
url='https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/amazon_fires.csv'
df= pd.read_csv(url , encoding= "ISO-8859-1")

In [10]:
df.head()

    ano      mes estado   numero  encontro
0  1998  Janeiro   Acre  0 Fires  1/1/1998
1  1999  Janeiro   Acre  0 Fires  1/1/1999
2  2000  Janeiro   Acre  0 Fires  1/1/2000
3  2001  Janeiro   Acre  0 Fires  1/1/2001
4  2002  Janeiro   Acre  0 Fires  1/1/2002

In [11]:
#how many regions are there in the dataset

df['estado'].unique()

array(['Acre', 'alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara',
       'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao',
       'Mato Grosso', 'Minas Gerais', 'par√°', 'Paraiba', 'Pernambuco',
       'Piau', 'Rio', 'rondonia', 'Roraima', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Tocantins'], dtype=object)

# 1. Renaming columns

In [20]:
new_columns = {'ano': 'year',
                  'estado': 'state',
                  'mes': 'month',
                  'numero': 'no_of_fires',
                  'encontro': 'date'}

In [24]:
df.rename(columns = new_columns, inplace= True)

In [25]:
df.head()

   year    month state no_of_fires      date
0  1998  Janeiro  Acre     0 Fires  1/1/1998
1  1999  Janeiro  Acre     0 Fires  1/1/1999
2  2000  Janeiro  Acre     0 Fires  1/1/2000
3  2001  Janeiro  Acre     0 Fires  1/1/2001
4  2002  Janeiro  Acre     0 Fires  1/1/2002

In [27]:
#how many years of data do we have?

df['year'].unique()

array([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [31]:
#exploring data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
year           6454 non-null int64
month          6454 non-null object
state          6454 non-null object
no_of_fires    6322 non-null object
date           6454 non-null object
dtypes: int64(1), object(4)
memory usage: 252.2+ KB

# 2. Rearranging columns

In [34]:
new_order=[ 4,1,0,2,3]

df = df[df.columns[new_order]]

In [35]:
df.head()

       date    month  year state no_of_fires
0  1/1/1998  Janeiro  1998  Acre     0 Fires
1  1/1/1999  Janeiro  1999  Acre     0 Fires
2  1/1/2000  Janeiro  2000  Acre     0 Fires
3  1/1/2001  Janeiro  2001  Acre     0 Fires
4  1/1/2002  Janeiro  2002  Acre     0 Fires

# 3. Determining if a column contains numneric data

In [37]:
df['no_of_fires'].str.isnumeric().head()

0    False
1    False
2    False
3    False
4    False
Name: no_of_fires, dtype: object

In [39]:
df[df['no_of_fires'].str.isdigit()]

ValueError: cannot index with vector containing NA / NaN values

In [44]:
#the above error is because isdigit() returns NaN for blank or missing values
#to fix this we ought to convert the missing values to string

df['no_of_fires'].astype(str).str.isdigit().head()

0    False
1    False
2    False
3    False
4    False
Name: no_of_fires, dtype: bool

In [46]:
df[df['no_of_fires'].astype(str).str.isdigit()].head()

         date    month  year    state no_of_fires
239  1/1/1998  Janeiro  1998  alagoas           0
240  1/1/1999  Janeiro  1999  alagoas          58
241  1/1/2000  Janeiro  2000  alagoas          11
242  1/1/2001  Janeiro  2001  alagoas           5
243  1/1/2002  Janeiro  2002  alagoas          12